@import '../../index.scss';

.Login{
    background-color: $black-primary;
    border: 1px solid #3EA6FF;
    padding: 5px 11px;
    height: fit-content;
    width: 80px;
    font: 14px Roboto,Arial, Helvetica, sans-serif;
    color: #3EA6FF;
}